/*.landing {
  > div {
    display: flex;
    justify-content: space-between;
    transition: filter 0.75s;

    div {
      align-items: center;
    }
    img {
      transition: filter 0.75s;
      filter: grayscale(30%);
    }
  }
}
.landing:hover {
  img {
    filter: grayscale(0%) hue-rotate(-40deg);
  }
  .der {
    filter: hue-rotate(65deg);
  }
}
*/
.landing {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  .right {
    transform: scaleX(-1);
    z-index: -10;
    height: 600px;
    filter: opacity(30%);
    padding: 100px 0;
    animation: colorChange 7s steps(36) infinite;
    animation-direction: alternate;
  }

  div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        flex-grow: 0;
      }
      p {
        flex-grow: 1;
        align-self: center;
      }
    }
  }
  .left {
    display: none;
  }
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg) opacity(30%);
  }
  to {
    filter: hue-rotate(-55deg) opacity(30%);
  }
}
