// *Colors //
$bg-light: #3d3d3d;
$bg-dark: #171717;
$color-primary: #93cdf0;
$color-secondary: #16c4ca;
$color-text: #ebebeb;

// *Maps //
$productos: ("vehiculos", "notebooks", "electrodomesticos", "vidrios");
