@import "variables";
@import "typography";
@import "newTable";

* {
  margin: 0rem;
  padding: 0rem;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
ol,
ul {
  padding: 0rem;
}
body,
.modal-content {
  background-color: $bg-dark;
  color: $color-text;
}

.card-hover {
  transition: all 150ms ease-out;
  &:hover {
    transform: scale(1.05);
  }
}

section {
  margin-bottom: 4rem;
}
header,
.modal-header {
  background-color: $bg-light;
}

header {
  position: sticky;
  top: 0;
  padding: 0 1rem;
  z-index: 100;
}

.navbar-brand {
  overflow-wrap: normal;
}

.subNav {
  overflow: hidden;
  &:hover {
    ul {
      display: flex;
      flex-direction: column;
    }
  }
  ul {
    padding: 0rem 1rem;
    display: none;
    position: relative;
    z-index: 1;
    background-color: $bg-light;
    a {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }
}

h2 {
  padding: 3rem 2rem;
}

a {
  text-decoration: none;
  &:hover {
    color: $color-primary;
  }
  &.active {
    h3,
    h4 {
      text-decoration: underline $color-primary;
    }
  }
}

.carousel-indicators [data-bs-target] {
  width: 35px;
  height: 15px;
  border: none;
  border-radius: $b-r;
}
.card {
  border-radius: $b-r;
  background-color: $bg-light;
}
.carousel-item {
  img {
    height: 450px;
    object-fit: cover;
  }
}
.carousel {
  border-radius: $b-r;
  overflow: hidden;
  width: 80%;
  margin: auto;
}

// !BEM //
.servicios {
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 0 auto;
  gap: 1.5rem;
  width: 80%;
  &__top,
  &__bottom {
    background: linear-gradient(to top, rgba(61, 61, 61, 0.7) 100%, transparent),
      url(/img/Landing/landing-center.jpeg);
    background-position: center;
    background-size: cover;
    margin: 0rem auto;
    padding: 1rem;
    border-radius: $b-r;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      transition: color 150ms ease-out;
    }
    &:hover {
      box-shadow: inset 0 0 0 1000px $bg-light;
      p {
        color: $color-text;
      }
    }
  }
  &__bottom {
    background: linear-gradient(to top, rgba(61, 61, 61, 0.7) 100%, transparent),
      url(/img/greencar.jpg);
    background-position: center;
    background-size: cover;
  }
  &__video {
    video {
      display: none;
      margin: 0 auto;
      border-radius: $b-r;
      width: 100%;
    }
  }
}

// *Each //
@each $product-name in $productos {
  .#{$product-name} {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 25%, transparent),
      url("/img/productos/ploteo#{$product-name}.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
  }
}

// !BEM //
.productos {
  display: grid;
  grid-template-rows: repeat(4, 10rem);
  align-content: center;
  gap: 1.5rem;
  width: 80%;
  margin: 0 auto;

  &__item {
    border-radius: $b-r;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    &__link {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

footer {
  background-image: linear-gradient(to bottom, $bg-dark, #000000);
  padding-top: 3rem;
  padding-bottom: 1rem;
}
#redesSociales {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2.5rem;
  img {
    filter: grayscale(100%) contrast(0%) brightness(119%);
    transition: filter 0.2s;
    &:hover {
      filter: grayscale(0%) contrast(100%);
    }
  }
}

// !BEM //
.empresas {
  display: grid;
  width: 80%;
  margin: 0 auto;
  gap: 2.5rem;
  &__item {
    overflow: hidden;
    &--tittle {
      padding: 1rem 0;
    }
    &--text {
      margin: 1rem;
    }
    &--img {
      width: 100%;
      height: 40vw;
      object-fit: cover;
    }
  }
}

.table {
  margin-bottom: 0;
  th,
  td {
    padding: 0.35rem;
  }
}
.table-hover tbody tr {
  &:hover {
    td,
    th {
      background-color: hsl(0, 0%, 65%);
    }
  }
}

.beneficios {
  width: 80%;
  margin: auto;
  display: grid;
  gap: 1rem;
  img {
    display: none;
  }
  &__text {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    gap: 1rem;
  }
}

.ubicaciones {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  aside {
    display: none;
  }
  .mapouter {
    overflow: hidden;
    border-radius: $b-r;
  }
  li {
    margin: 1.5rem 0;
  }
}
.carousel {
  + p {
    background-color: $bg-light;
    margin: 0rem auto;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: $b-r;
    box-sizing: border-box;
    width: 80%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    .navbar-nav {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: flex-end;
      align-content: space-between;
    }
  }
  .ubicaciones {
    gap: 2rem;
    aside {
      box-sizing: border-box;
      padding: 1rem;
      display: block;
    }
  }
  .beneficios {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "text text"
      "left right"
      "aside aside";
    div {
      img {
        object-fit: cover;
        height: 15rem;
        width: 100%;
        display: block;
        background: transparent;
      }
    }
    &__text {
      grid-area: text;
    }
    &__left {
      grid-area: left;
    }
    &__right {
      grid-area: right;
    }
    aside {
      grid-area: aside;
    }
  }
  // !BEM //
  .servicios {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "top video"
      "bottom video";
    align-content: center;
    gap: 1.5rem;

    &__top {
      grid-area: top;
    }
    &__bottom {
      grid-area: bottom;
    }
    &__video {
      grid-area: video;
      object-fit: cover;
      video {
        max-height: 40rem;
        display: block;
        object-fit: cover;
      }
    }
  }

  // !BEM //
  .empresas {
    display: grid;
    grid-template-rows: repeat(2, auto);
    width: 80%;
    margin: 0 auto;
    gap: 3rem;

    &__item {
      display: grid;
      grid-template-rows: 5rem auto;
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "img tittle"
        "img text";

      &--tittle {
        grid-area: tittle;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &--img {
        grid-area: img;
        height: 100%;
        object-fit: cover;
      }

      &--text {
        grid-area: text;
        display: flex;
        align-items: center;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .navbar-expand-lg {
    .subNav {
      ul {
        position: absolute;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .beneficios {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "text text text"
      "left aside right";
    aside {
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }
  .servicios {
    &__top,
    &__bottom {
      background: url(/img/Landing/landing-center.jpeg);
      background-position: center;
      background-size: cover;
      p {
        color: transparent;
        width: 60%;
      }
      &:hover {
        box-shadow: inset 0 0 0 1000px rgba(61, 61, 61, 0.8);
        p {
          color: $color-text;
        }
      }
    }
    &__bottom {
      background: url(/img/greencar.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  .productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20rem 20rem;
    align-content: center;
    gap: 1.5rem;
    width: 80%;
    margin: 0 auto;

    &__item {
      &__link {
        align-items: flex-end;
        padding-bottom: 2.5rem;
        transition: padding-bottom 0.2s;
        h3 {
          transition: font-size 0.2s;
        }
        &:hover,
        &.active {
          padding-bottom: 7rem;
          text-decoration-color: $color-primary;

          h3 {
            color: $color-primary;
            font-size: 150%;
          }
        }
        &.active {
          text-decoration-color: $color-text;
          h3 {
            color: $color-text;
            font-size: 150%;
          }
        }
      }
    }
  }

  // !BEM //
  .empresas {
    grid-template-rows: repeat(2, auto);
    &__item {
      grid-template-rows: 1fr 2fr;
      grid-template-areas:
        "img tittle"
        "img text";
      &--img {
        height: 18rem;
      }
    }
    &__item.inverted {
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
        "tittle img"
        "text img";
    }
  }
}
